<ejs-accumulationchart [title]="chartTitle" [LegendSettings] = 'legend' [tooltip] ='tooltip'>
    <e-accumulation-series-collection>
        <e-accumulation-series type ="Pie" [dataSource]='data' xName='name' yName='value' [dataLabel] ='chartLabel'>
        </e-accumulation-series>
    </e-accumulation-series-collection>
</ejs-accumulationchart>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Chelsey Dietrich</mat-card-title>
      <mat-card-subtitle> Kamren</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      </p>
    </mat-card-content>
  </mat-card>
